body {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;


  background-image: url("placeholder2.jpg");
  background-repeat: no-repeat;
  /* background-position: center center; */
  /* have background fill container */
  background-size: cover;

  /* gets rid of scroll bar and overflowed content div etc */
  overflow: hidden;

}

/*
  nadeen's logo font-face
*/

@font-face {
    font-family: 'hickory_jackregular';
    src: url('hickoryjack-webfont.woff2') format('woff2'),
         url('hickoryjack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

header {
  display: inline;

}

header h2 {
  /* background: rgba(18,25,92, 0.6); */
  background: rgba(0,0,0, 0.6);
  /* using percentages to make values fluid (ideally) */
  padding: 2.5%;
  width: 100%;
  margin-bottom: 0%;
  /* border: 1px solid white; */
  /* text-align: center; */
  font-size: 65px;
  margin-top: 0px;
  /* change font */
  font-family: 'hickory_jackregular';
  /* text-shadow: 2px 2px #12195C; */
  text-shadow: 2px 2px black;
  color: #F9FCC0;
  /* remove bold from heading */
  font-weight: normal;
}

/* before I added span with id hoverFix, the whole header h2 block was
being highlighted.  This corrected that so just the logo would highlight. */
header h2 #hoverFix:hover {
  /* color: #EFF253; */
  color: #FEC361;
}


.nav-ul {
  display: inline;

}

.nav-ul li {

  color: white;
  opacity: 0.5;
  font-size: 1.2em;


  display: inline;
  padding: 5px;
  /* margin-left: 0px; */
  /* margin-right: 0px; */
}

/*
.nav-ul li:nth-child(even) {
  border-left: none;
}
.nav-ul li:nth-child(3) {
  border-left: none;
}

*/

.nav-ul li:hover {
   /* background-color: tomato; */
   opacity: 0.7;
   background-color: brown;
   /* text-transform: capitalize; */
   cursor:help;
}

#main-container {
  margin-top: 0px;
  padding: 100px;
  background: rgba(255,255,255, 0.5);
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  line-height: 1.5;
  font-family: cursive;

}
