body {
  background-color: #E3E1DB;
  cursor: default;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  /* background-image: url("placeholder2.jpg"); */
  /* background-image: url("placeholder1.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* have background fill container */
  /* background-size: cover; */
  /* gets rid of scroll bar and overflowed content div etc */
  /* overflow: hidden; */
}

#bigWrapper {
  margin-top: 2.5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2.5%;
  /* background-image: url("placeholder2.jpg"); */
  background-image: url("placeholder1.png");
  background-repeat: no-repeat;
  background-position: center center;
  /* have background fill container */
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
  nadeen's logo font-face
*/

@font-face {
    font-family: 'hickory_jackregular';
    src: url('hickoryjack-webfont.woff2') format('woff2'),
         url('hickoryjack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {


}

header h2 {
  background: rgba(0,0,0, 0.6);
  /* using percentages to make values fluid (ideally) */
  padding: 2.0%;
  margin-bottom: 0%;
  /* font-size: 65px; */
  font-size: 4.1em;
  margin-top: 0%;

  /* change font */
  font-family: 'hickory_jackregular';
  /* text-shadow: 2px 2px #12195C; */
  text-shadow: 2px 2px black;
  /* color: #F9FCC0; */
  /* color: white; */
  /* color: #E8F0EF; */
  color: #F2F2F2;

  /* remove bold from heading */
  font-weight: normal;

}

h3 {
  margin: 0px;
}


nav {
  display: inline;
}

.nav-ul {
  display: inline;
   /* float: right; */
   overflow: visible;
   margin-left: auto;
   margin-right: auto;
   float:right;
   margin-top: -2.5%;

   padding-right: 20px;

}

.nav-ul li {
  /* background-color: blue; */
  display: inline;
  /* float: right; */
  color: white;
  opacity: 0.8;
  font-size: 1.4em;
  padding-right: 40px;

}

a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

a:hover {
   /* color: #CBF9F4; */
   opacity: 1;
   color: #B0E5DF;
   text-decoration: none;
   text-shadow: 1px 1px black;
}

a:visited {
  color: white;
  opacity: 0.8;
}

a:active {
  color: #B0E5DF;
  opacity 1;
  text-shadow: 1px 1px black;
  text-decoration: none;
}



/*
.nav-ul li:nth-child(even) {
  border-left: none;
}
.nav-ul li:nth-child(3) {
  border-left: none;
}

*/

#main-container {
  margin-top: 0px;
  padding: 20px;
  background: rgba(227,225,219, 0.8);
  line-height: 1.3;
  border-top: 3px solid black;

}

#imageContainer {
  margin-top: 0px;
  width: 100%;
}

.foodPics {
  margin-top: 0px;
  margin-bottom: 0px;
  /* display: inline-block; */
  text-align: center;
  border-top: 2px solid black;
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
}

.foodPics img {
  padding: 5px;
  opacity: 0.8;
  /* width: 170px; */
  /* height: 170px; */
  width: 200px;
  height: 200px;
  /* box-shadow: 1px 1px 5px black; */

}

.foodPics img:hover {
  opacity: 1.0;
  color: #CBF9F4;

}
